fastapi
uvicorn[standard]
jinja2
sqlalchemy
PyMySQL[rsa]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
Levenshtein
python-Levenshtein
python-dotenv
gunicorn
cloud-sql-python-connector[pymysql]
google-cloud-storage