@import url('https://fonts.gooleapis.com/css?family=Montserrat:500');

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.my-content {
  margin-top: 20px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 4%;
  background-color: #0F4C81;
}

.nav-header li, a, button {
  font-size: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.nav-header .nav_links > li:not(:last-child)::after{
  border-right: 1px solid #000;
}

.nav-header .nav_links {
  list-style: none;
}

.nav-header .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-header .nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav-header .nav_links li a:hover {
  color: #D6FFF6;
}

.nav-header #receipt-name {
  font-size: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #f2ec38;
}

/* --------------------- homepage ------------------- */

.content-home {
  width:100%;
  height:auto;
  border: 5px solid red;
  overflow-y: hidden;
}

/*---------------------- list receipts page ----------------------*/
.text-center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.receipt-detail a:link {
  color: #000;
}

.receipt-detail a:visited {
  color: #000;
}

.receipt-detail a:hover {
  color: blue;
  text-decoration: underline;
}

/*---------- receipts details page -----------*/
.content-receipt .image-receipt-section #image-receipt {
  max-width: 450px;
  display: flex;
  align-items: center;
}

.content-receipt {
  display: flex;
}

.content-receipt .image-receipt-section {
  /*border: 2px solid red;*/
  align-items: center;
  justify-content: center;
}

.content-receipt .detail-receipt-section {
  margin-left: 20px;
  width: 1800px;
  /*border: 2px solid red;*/
}

/* Style the tab */
.content-receipt .detail-receipt-section .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.content-receipt .detail-receipt-section .tab button {
  background-color: inherit;
  color: #000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.content-receipt .detail-receipt-section .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.content-receipt .detail-receipt-section .tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.content-receipt .detail-receipt-section .tabcontent {
  height: 720px;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/*-------------- upload image file ------------*/
.upload-section {
  justify-content: center;
  align-items: center;
}

.upload-box {
  width: 550px;
}

.flex { 
  display: flex;
  justify-content: center;
  align-items: center; /* Optional */
}

.buttonHolder{ 
  text-align: center; 
}
