@import url('https://fonts.gooleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;  
  overflow: hidden; /* Hide scrollbars */
}

h1, h2, h3, th, td, table, thead, tbody, div {
  font-family: 'Athiti', sans-serif;
}

p {
  font-family: 'Athiti', sans-serif;
  font-size: 20px;
}


.my-container {
  max-width: 1440px;
  /*width: 100%;*/
  margin: 0 auto;
}

.my-content {
  margin-top: 20px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 2.5%;
  background-color: #52A7E0;
}

.nav-header > li, a, button {
  font-family: 'Niramit', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.nav-header .nav_links > li:not(:last-child)::after{
  border-right: 1px solid #000;
}

.nav-header .nav_links {
  list-style: none;
}

.nav-header .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-header .nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav-header .nav_links li a:hover {
  color: #1b445e;
}

.nav-header #receipt-name {
  font-family: 'Niramit', sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #f2ec38;
}

/* --------------------- homepage ------------------- */

.content-home {
  /*width:100%;*/
  height:auto;
  border: 5px solid red;
  overflow-y: hidden;
}

/*---------------------- list receipts page ----------------------*/
.text-center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.receipt-detail a:link {
  color: #000;
}

.receipt-detail a:visited {
  color: #000;
}

.receipt-detail a:hover {
  color: blue;
  text-decoration: underline;
}

/*---------- receipts details page -----------*/
.content-receipt .image-receipt-section #image-receipt {
  max-width: 548px;
  /*display: flex;*/
  align-items: center;
  border: 2px solid #ccc;
}

.content-receipt {
  display: flex;
  /*height: 100vh;*/
}

.content-receipt .image-receipt-section {
  /*border: 2px solid red;*/
  align-items: center;
  justify-content: center;
}

.content-receipt .detail-receipt-section {
  margin-left: 20px;
  width: 1800px;
  height: 1500px;
  /*border: 2px solid red;*/
}

/* Style the tab */
.content-receipt .detail-receipt-section .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.content-receipt .detail-receipt-section .tab button {
  background-color: inherit;
  color: #000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.content-receipt .detail-receipt-section .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.content-receipt .detail-receipt-section .tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.content-receipt .detail-receipt-section .tabcontent {
  /*height: 720px;*/
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.condition-receipt {
  /*display: flex;*/
  bottom: 30px;
}

/*-------------- upload image file ------------*/
.upload-section {
  justify-content: center;
  align-items: center;
}

.upload-box {
  width: 550px;
}

.flex { 
  display: flex;
  justify-content: center;
  align-items: center; /* Optional */
}

.buttonHolder{ 
  text-align: center; 
}

/*------------ Homepage ------------*/
.homepage-style {
  display: flex; 
  flex-direction: column;
  background-color: #52A7E0;
  height: 100vh;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
}

.homepage-style #receipt-homepage-heading {
  font-family: 'Niramit', sans-serif;
  font-weight: 600;
  font-size: 72px;
  color: #f2ec38;
  text-align: center;
  padding: 28px;
  /*border: 2px solid red;*/
}

.homepage-style .button-homepage {
  flex-direction: row;
  padding: 12px;
  justify-content: space-between;
}

.homepage-style .button-homepage a button {
  font-family: 'Athiti', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.homepage-style #receipt-homepage-describe {
  font-family: 'Athiti', sans-serif;
  font-weight: 200;
  font-size: 32px;
  padding: 24px;
  color: #FFF;
}

/*-------- upload receipt page --------*/
.upload-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/

}
