{% extends 'base.html' %}

{% block title %} <title>รายละเอียดของใบเสร็จรับเงิน</title> {% endblock %}

{% block content %}
<div class="container-fluid my-content content-receipt">
    <div class="image-receipt-section">
        <img src="{{ url_for('static', path=receipt_data.pathImage) }}" id="image-receipt"> 
    </div>
    <div class="detail-receipt-section">
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Detail')" id="defaultOpen">รายละเอียดทั่วไป</button>
            <button class="tablinks" onclick="openCity(event, 'Item')">รายการสินค้าหรือบริการ</button>
        </div>
        <form action="/receipts/create" method="post" enctype="multipart/form-data" >
            <!-- Tab content -->
            <div id="Detail" class="tabcontent">
                <div class="row">    
                    <div class="form-group col-8">
                        <label for="input-receipt-id">หมายเลขใบเสร็จรับเงิน</label>
                        <input class="form-control form-control-sm" id="input-receipt-id" type="text" value="{{receipt_data.receiptID}}">
                    </div>
                    <div class="form-group col-4">
                        <label for="input-receipt-date">วันที่ออกใบเสร็จรับเงิน</label>
                        {% if receipt_data.dateReceipt == none %}
                            <input class="form-control form-control-sm" id="input-receipt-date" type="date" value="">                        
                        {% else %}
                            <input class="form-control form-control-sm" id="input-receipt-date" type="date" value="{{(receipt_data.dateReceipt).strftime('%Y-%m-%d')}}">
                        {% endif %}
                    </div>
                </div>
                <h5>ข้อมูลของร้านค้า:</h5>
                <div class="row">
                    <div class="form-group col-8">
                        <label >ชื่อ</label>
                        <input class="form-control form-control-sm" id="colFormLabelSm" type="text" value="{{receipt_data.shopName}}">                        
                    </div>
                    <div class="form-group col-4">
                        <label >เบอร์โทรศัพท์</label>
                        <input class="form-control form-control-sm" id="colFormLabelSm" type="text" value="{{receipt_data.shopPhone}}">                       
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-sm-12">
                        <label >ที่อยู่</label>
                        <input class="form-control form-control-sm" id="colFormLabelSm" type="text" value="{{receipt_data.addressShop}}">                         
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <label >เลขประจำตัวผู้เสียภาษี</label>
                        <input class="form-control form-control-sm" id="colFormLabelSm" type="text" value="{{receipt_data.taxIDShop}}">
                    </div>
                </div>
                <h5>ข้อมูลของลูกค้า:</h5>
                <div class="row">
                    <div class="col-12">
                        <label >ชื่อ</label>
                        <input class="form-control form-control-sm" id="colFormLabelSm" type="text" value="{{receipt_data.customerName}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label >ที่อยู่</label>
                        <input class="form-control form-control-sm" id="colFormLabelSm" type="text" value="{{receipt_data.addressCust}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label >เลขประจำตัวผู้เสียภาษี</label>
                        <input class="form-control form-control-sm" id="colFormLabelSm" type="text" value="{{receipt_data.taxIDCust}}">
                    </div>
                </div>
            </div>
            
            <div id="Item" class="tabcontent">

            </div> 
            <input type="submit" class="btn btn-primary mr-2 text-center">  
           
        </form>

    </div>
</div>       
{% endblock content %}

{% block scripts %}
<script src="{{ url_for ('static', path='/js/tab.js') }}"></script>
{% endblock %}