{% extends 'base.html' %}

{% block title %} <title>แก้ไขข้อมูลใบเสร็จรับเงิน</title> {% endblock %}

{% block content %}
<div class="container-fluid my-content content-receipt">
    <div class="image-receipt-section">
        <h5 id="filename-receipt">{{receipt_data.filename}}</h5>
        <div class="content-image-receipt-section">
            <img src="{{ receipt_data.pathImage }}" id="image-receipt"> 
        </div>  
    </div>
    <div class="detail-receipt-section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-detail-tab" data-bs-toggle="tab" data-bs-target="#pills-detail" type="button" role="tab" aria-selected="true">รายละเอียดทั่วไป</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-item-tab" data-bs-toggle="tab" data-bs-target="#pills-item" type="button" role="tab" aria-selected="false">รายการสินค้าหรือบริการ</button>
            </li>
        </ul>        
        <div class="block-detail-receipt-section">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab">
                    <!--form action="{{'/receipts/editonereceipt/%s'%receipt_data.id }}" method="post" enctype="multipart/form-data" -->    
                        <div class="row">    
                            <div class="form-group col-8">
                                <label for="input-receipt-id">หมายเลขใบเสร็จรับเงิน</label>
                                {% if receipt_data.receiptID == None %}
                                <input class="form-control form-control-sm" id="input-receipt-id" type="text" name="receiptID">
                                {% else %}
                                <input class="form-control form-control-sm" id="input-receipt-id" type="text" name="receiptID" value="{{receipt_data.receiptID}}">
                                {% endif %}
                            </div>
                            <div class="form-group col-4">
                                <label for="input-receipt-date">วันที่ออกใบเสร็จรับเงิน</label>
                                {% if receipt_data.dateReceipt == None %}
                                <input class="form-control form-control-sm" id="input-receipt-date" name="dateReceipt" type="date">                        
                                {% else %}
                                <input class="form-control form-control-sm" id="input-receipt-date" type="date" name="dateReceipt" value="{{(receipt_data.dateReceipt).strftime('%Y-%m-%d')}}">
                                {% endif %}
                            </div>
                        </div>
                        <h5 id="input-shop">ข้อมูลของร้านค้า</h5>
                        <div class="row">
                            <div class="form-group col-8">
                                <label >ชื่อ</label>
                                {% if receipt_data.shopName == None %}
                                <input class="form-control form-control-sm" id="input-receipt-shopname" type="text" name="shopName"> 
                                {% else %} 
                                <input class="form-control form-control-sm" id="input-receipt-shopname" type="text" name="shopName" value="{{receipt_data.shopName}}"> 
                                {% endif %}
                            </div>
                            <div class="form-group col-4">
                                <label >เบอร์โทรศัพท์</label>
                                {% if receipt_data.shopPhone == None %}
                                <input class="form-control form-control-sm" id="input-receipt-shopphone" type="text" name="shopPhone">                       
                                {% else %} 
                                <input class="form-control form-control-sm" id="input-receipt-shopphone" type="text" name="shopPhone" value="{{receipt_data.shopPhone}}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-sm-12">
                                <label >ที่อยู่</label>
                                {% if receipt_data.addressShop == None %}
                                <input class="form-control form-control-sm" id="input-receipt-addressshop" type="text" name="addressShop">                         
                                {% else %}
                                <input class="form-control form-control-sm" id="input-receipt-addressshop" type="text" name="addressShop" value="{{receipt_data.addressShop}}">
                                {% endif %}
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="form-group col-12">
                                <label >เลขประจำตัวผู้เสียภาษี</label>
                                {% if receipt_data.taxIDShop == None %}
                                <input class="form-control form-control-sm" id="input-receipt-taxIDShop" type="text" name="taxIDShop">
                                {% else %}
                                <input class="form-control form-control-sm" id="input-receipt-taxIDShop" type="text" name="taxIDShop" value="{{receipt_data.taxIDShop}}">
                                {% endif %}
                            </div>
                        </div>
                        <h5 id="input-cust">ข้อมูลของลูกค้า</h5>
                        <div class="row">
                            <div class="col-12">
                                <label >ชื่อ</label>
                                {% if receipt_data.customerName == None %}
                                <input class="form-control form-control-sm" id="input-receipt-customerName" type="text" name="customerName">
                                {% else %}
                                <input class="form-control form-control-sm" id="input-receipt-customerName" type="text" name="customerName" value="{{receipt_data.customerName}}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label >ที่อยู่</label>
                                {% if receipt_data.addressCust == None %}
                                <input class="form-control form-control-sm" id="input-receipt-addressCust" type="text" name="addressCust">
                                {% else %}
                                <input class="form-control form-control-sm" id="input-receipt-addressCust" type="text" name="addressCust" value="{{receipt_data.addressCust}}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label >เลขประจำตัวผู้เสียภาษี</label>
                                {% if receipt_data.taxIDCust == None %}
                                <input class="form-control form-control-sm" id="input-receipt-taxIDCust" type="text" name="taxIDCust">
                                {% else %}
                                <input class="form-control form-control-sm" id="input-receipt-taxIDCust" type="text" name="taxIDCust" value="{{receipt_data.taxIDCust}}">
                                {% endif %}
                            </div>
                        </div>
                        <!--input type="submit" class="btn btn-primary mr-2 text-center" id="submit-edit"-->  
                        
                    </form>                                                                 
                </div>

                <div class="tab-pane fade" id="pills-item" role="tabpanel" aria-labelledby="pills-item-tab">
                    <div id="list-item-receipt-section">
                        {% if receipt_data.type_receipt == 1 %}
                            {% for ele in items %}
                                <div class="row" id="{{ele.id}}">
                                    <div class="form-group col-5">
                                        <label for="input-receipt-nameItem">รายการ</label>
                                        {% if ele.nameItem == None %}
                                        <input class="form-control form-control-sm" type="text" id="input-receipt-nameItem">
                                        {% else %}
                                        <input class="form-control form-control-sm" type="text" value="{{ele.nameItem}}" id="input-receipt-nameItem">
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-1">
                                        <label for="input-receipt-qty">จำนวน</label>
                                        {% if ele.qty == None %}
                                        <input class="form-control form-control-sm" type="text" id="input-receipt-qty">   
                                        {% else %}
                                        <input class="form-control form-control-sm" type="text" value="{{ele.qty}}" id="input-receipt-qty">   
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-1">
                                        <label for="input-receipt-unitQty">หน่วย</label>
                                        {% if ele.unitQty == None %}
                                        <input class="form-control form-control-sm" type="text" id="input-receipt-unitQty">    
                                        {% else %}
                                        <input class="form-control form-control-sm" type="text" value="{{ele.unitQty}}" id="input-receipt-unitQty">  
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-2">
                                        <label for="input-receipt-pricePerQty">ราคาต่อหน่วย</label>
                                        {% if ele.pricePerQty == None %}
                                        <input class="form-control form-control-sm" type="text" id="input-receipt-pricePerQty">
                                        {% else %}
                                        <input class="form-control form-control-sm" type="text" value="{{ele.pricePerQty}}" id="input-receipt-pricePerQty">
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-2">
                                        <label for="input-receipt-priceItemTotal">ราคาทั้งหมด</label>
                                        {% if ele.priceItemTotal == None %}
                                        <input class="form-control form-control-sm" type="text" id="input-receipt-priceItemTotal">                        
                                        {% else %}
                                        <input class="form-control form-control-sm" type="text" value="{{ele.priceItemTotal}}" id="input-receipt-priceItemTotal">
                                        {% endif %}
                                    </div>   
                                    <div class="col-1" id="icon-receipt">
                                        <i class="fas fa-trash" id="icon-remove-item" onclick="removeListItem(this)"></i>
                                    </div>       
                                </div>
                            {% endfor %}
                        {% elif receipt_data.type_receipt == 0 %}
                            {% for ele in items %}
                            <div class="row" id="{{ele.id}}">
                                <div class="form-group col-7">
                                    <label for="input-receipt-nameItem">รายการ</label>
                                    {% if ele.nameItem == None %}
                                    <input class="form-control form-control-sm" type="text" id="input-receipt-nameItem">
                                    {% else %}
                                    <input class="form-control form-control-sm" type="text" value="{{ele.nameItem}}" id="input-receipt-nameItem">
                                    {% endif %}
                                </div>
                                <div class="form-group col-3">
                                    <label for="input-receipt-priceItemTotal">ราคาทั้งหมด</label>
                                    {% if ele.priceItemTotal == None %}
                                    <input class="form-control form-control-sm" type="text" id="input-receipt-priceItemTotal">
                                    {% else %}
                                    <input class="form-control form-control-sm" type="text" value="{{ele.priceItemTotal}}" id="input-receipt-priceItemTotal">
                                    {% endif %}
                                </div>    
                                <div class="col-1" id="icon-receipt">
                                    <i class="fas fa-trash" id="icon-remove-item" onclick="removeListItem(this)"></i>
                                </div>                     
                            </div>
                            {% endfor %}   
                        {% endif %}             
                    </div>
                    <i class="fas fa-plus" id="icon-add-item" onclick="addListItem('{{receipt_data.type_receipt}}')" ></i>     
                </div>

            </div> 
            <div class="button-editreceipt-page">
                <a href="{{'/receiptdetail/%s'%receipt_data.id }}"><button type="button" class="btn btn-warning">ยกเลิก</button></a>
                <button type="button" class="btn btn-primary" onclick="submitUpdateListItem('{{receipt_data.type_receipt}}', '{{receipt_data.id}}')">แก้ไขรายการสินค้า/บริการ</button>                  
            </div> 
               
        </div>
    </div>
</div>
    
{% endblock content %}

{% block scripts %}
<script src="{{ url_for ('static', path='/js/datatable-receipt-detail.js') }}"></script>
<script src="{{ url_for ('static', path='/js/EditAndCheckReceipt.js') }}"></script>
{% endblock %}