<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Home </title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" >
</head>
<body>
    <div class="table-users">
        <div class="header">รายการใบเสร็จรับเงิน</div>
            <div class="fixTableHead">
            <table cellspacing="0" >
                <thead>
                    <tr>
                        <th>รูปภาพใบเสร็จรับเงิน</th>
                        <th>ชื่อไฟล์</th>
                        <th>เลขที่ใบเสร็จรับเงิน</th>
                        <th>วันที่ออกใบเสร็จรับเงิน</th>
                        <th>ชื่อร้านค้า</th>
                        <th>เลขประจำตัวผู้เสียภาษีของร้านค้า</th>
                        <th>เบอร์โทรศัพท์ของร้านค้า</th>
                    </tr>                        
                </thead>

                <tbody  class="mytable">
                    {% for ele in list_data: %}
                        <tr id={{ele._id}}>
                            <td><img src="{{ url_for('static', filename=ele.pathImage) }}" /></td>
                            <td>{{ele.filename}}</td>
                            <td>{{ele.receiptID}}</td>
                            <td>{{ele.dateReceipt}}</td>
                            <td>{{ele.shopName}}</td>
                            <td>{{ele.taxIDShop}}</td>
                            <td>{{ele.shopPhone}}</td>
                        </tr>                
                    {% endfor %}                        
                </tbody>
            </table>                 
            </div>
            
    </div>
    <div class="bt-area">
        <p id="text-upload">เพิ่มรายการใบเสร็จรับเงิน</p>
        <form action="/submituploadreceipt" method="POST" enctype="multipart/form-data">
            <input type="file" name="up-image" />
            <input type="submit"/>
         </form>   
    </div>
    
</body>
</html>