{% extends 'base.html' %}

{% block title %} <title>รายการใบเสร็จ</title> {% endblock %}

{% block content %}
<div class="container-fluid my-content">
    <table id="myTable" class="display table table-striped" style="width: 100%;">
        <thead>
        <tr>
            <th class="th text-center">ชื่อไฟล์</th>
            <th class="th text-center">เลขที่ใบเสร็จรับเงิน</th>
            <th class="th text-center">วันที่ออกใบเสร็จรับเงิน</th>
            <th class="th text-center">ชื่อร้านค้า</th>
            <th class="th text-center">ชื่อลูกค้า</th>
        </tr>
        </thead>
        <tbody class="receipt-detail">
            {% for ele in list_data %}
                <tr id="{{ele.id}}">
                    <td><a href="{{'/receiptdetail/%s'%ele.id }}">{{ele["filename"]}}</a></td>
                    <td>{{ele["receiptID"]}}</td>
                    {% if ele["dateReceipt"] != none %}
                        <td>{{ele["dateReceipt"].strftime('%Y-%m-%d')}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ele["shopName"]}}</td>
                    <td>{{ele["customerName"]}}</td>
                </tr>                
            {% endfor %}     
        </tbody>
    </table>
</div>

                
{% endblock content %}

{% block scripts %}
<script src="{{ url_for ('static', path='/js/datatable.js') }}"></script>
{% endblock %}