{% extends 'base.html' %}

{% block title %} <title>รายการใบเสร็จ</title> {% endblock %}

{% block content %}
<div class="container-fluid my-content">
    <table id="myTable" class="display table table-striped" style="width: 100%;">
        <thead>
        <tr>
            <th class="th text-center">ชื่อไฟล์</th>
            <th class="th text-center">หมายเลข</th>
            <th class="th text-center">วันที่ออกใบเสร็จรับเงิน</th>
            <th class="th text-center">ชื่อร้านค้า</th>
            <th class="th text-center">ชื่อลูกค้า</th>
            <th class="th text-center">เวลาที่เพิ่มข้อมูล</th>
        </tr>
        </thead>
        <tbody class="receipt-detail">
            {% for ele in list_data %}
                <tr id="{{ele.id}}">
                    <td><a href="{{'/receiptdetail/%s'%ele.id }}">{{ele["filename"]}}</a></td>
                    {% if ele["receiptID"] %}
                    <td class="text-center">{{ele["receiptID"]}}</td>
                    {% else %}
                    <td class="text-center">ไม่พบข้อมูล</td>
                    {% endif %}

                    {% if ele["dateReceipt"] %}
                        <td class="text-center">
                            <script>
                                var datetime = new Date('{{ele.dateReceipt}}');  
                                document.write(datetime.toLocaleDateString()); 
                            </script>
                        </td>
                    {% else %}
                        <td class="text-center">ไม่พบข้อมูล</td>
                    {% endif %}

                    {% if ele["shopName"] %}
                    <td class="text-center">{{ele["shopName"]}}</td>
                    {% else %}
                    <td class="text-center">ไม่พบข้อมูล</td>
                    {% endif %}

                    {% if ele["customerName"] %}
                    <td class="text-center">{{ele["customerName"]}}</td>
                    {% else %}
                    <td class="text-center">ไม่พบข้อมูล</td>
                    {% endif %}        
                    
                    <td class="text-center">
                        <script>
                            var datetime = new Date('{{ele.Created_At}}');  
                            document.write(datetime.toLocaleString()); 
                        </script>
                    </td>       

                </tr>                
            {% endfor %}     
        </tbody>
    </table>
</div>

                
{% endblock content %}

{% block scripts %}
<script src="/static/js/datatable.js"></script>
{% endblock %}