<section class="nav-header">
    <!--p id="receipt-name">ฐานข้อมูลใบเสร็จรับเงิน</p-->
    <div class="logo-nav">
        <img src="/static/img/lablogo.jpg" id="size-nav-logo">
    </div>
    <nav>
        <ul class="nav_links">
            <li><a href="/"">หน้าแรก</a></li>
            <li><a href="/statusreceipts">สถานะรายการใบเสร็จ</a></li>
            <li><a href="/addreceipt">เพิ่มรายการใบเสร็จ</a></li>
            <li><a href="/listreceipts">รายการใบเสร็จ</a></li>
        </ul>
    </nav>
</section>
  