{% extends 'base.html' %}

{% block title %} <title>รายละเอียดของใบเสร็จรับเงิน</title> {% endblock %}

{% block content %}
<div class="container-fluid my-content content-receipt">
    <div class="image-receipt-section">
        <img src="{{ url_for('static', path=receipt_data.pathImage) }}" id="image-receipt"> 
    </div>
    <div class="detail-receipt-section">
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Detail')" id="defaultOpen">รายละเอียดทั่วไป</button>
            <button class="tablinks" onclick="openCity(event, 'Item')">รายการสินค้าหรือบริการ</button>
        </div>
        
        <!-- Tab content -->
        <div id="Detail" class="tabcontent">
            <h4>ชื่อไฟล์: {{receipt_data.filename}}</h4>
            <h4>เลขที่ใบเสร็จรับเงิน: {{receipt_data.receiptID}}</h4>
            {% if receipt_data.dateReceipt != none %}
            <h4>วันที่ออกใบเสร็จรับเงิน: {{(receipt_data.dateReceipt).strftime('%Y-%m-%d')}}</h4>
            {% else %}
            <h4>วันที่ออกใบเสร็จรับเงิน: </h4>
            {% endif %}
            <h4>ข้อมูลของร้านค้า</h4>
            <p>ชื่อ: {{receipt_data.shopName}}</p>
            <p>ที่อยู่: {{receipt_data.addressShop}}</p>
            <p>เบอร์โทรศัพท์: {{receipt_data.shopPhone}}</p>
            <p>เลขประจำตัวผู้เสียภาษี: {{receipt_data.taxIDShop}}</p>
            <h4>ข้อมูลของลูกค้า</h4>
            <p>ชื่อ: {{receipt_data.customerName}}</p>
            <p>ที่อยู่: {{receipt_data.addressCust}}</p>
            <p>เลขประจำตัวผู้เสียภาษี: {{receipt_data.taxIDCust}}</p>
        </div>
        
        <div id="Item" class="tabcontent">
                {% if receipt_data.type_receipt == 1 %}
                <table id="myTable" class="display table table-striped" style="width: 100%;">
                    <thead>
                    <tr>
                        <th class="th text-center" style="width: 60%;">รายการ</th>
                        <th class="th text-center" style="width: 10%;">ปริมาณ</th>
                        <th class="th text-center" style="width: 10%;">หน่วย</th>
                        <th class="th text-center" style="width: 10%;">ราคาต่อหน่วย</th>
                        <th class="th text-center" style="width: 10%;">ราคารวม</th>
                    </tr>
                    </thead>
                    <tbody class="receipt-detail">
                        {% for ele in items %}
                            <tr id="{{ele.id}}">
                                <td style="width: 60%;">{{ele.nameItem}}</td>
                                <td class="text-center" style="width: 10%;">{{ele.qty}}</td>
                                <td class="text-center" style="width: 10%;">{{ele.unitQty}}</td>
                                <td class="text-center" style="width: 10%;">{{ele.pricePerQty}}</td>
                                <td class="text-center" style="width: 10%;">{{ele.priceItemTotal}}</td>
                            </tr>                
                        {% endfor %}     
                    </tbody>
                </table>
                {% elif receipt_data.type_receipt == 0 %}
                <table id="myTable" class="display table table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th class="th text-center" style="width: 80%;">รายการ</th>
                            <th class="th text-center" style="width: 20%;">ราคารวม</th>
                        </tr>
                        </thead>
                        <tbody class="receipt-detail">
                            {% for ele in items %}
                                <tr id="{{ele.id}}">
                                    <td style="width: 80%;">{{ele.nameItem}}</td>
                                    <td class="text-center" style="width: 20%;">{{ele.priceItemTotal}}</td>
                                </tr>                
                            {% endfor %}     
                        </tbody>                    
                </table>

                {% endif %}
            
        </div>
        <div class="condition-receipt">
            <button type="button" class="btn btn-warning">ลบ</button>  
            <a href="{{'/editreceipt/%s'%receipt_data.id }}"><button type="button" class="btn btn-info">แก้ไข</button></a>
        </div>        
    </div>


</div>

            
{% endblock content %}

{% block scripts %}
<script src="{{ url_for ('static', path='/js/tab.js') }}"></script>
<script src="{{ url_for ('static', path='/js/datatable-receipt-detail.js') }}"></script>
{% endblock %}